.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 314px;
    margin: 0 auto;
    margin-top: 22px;
}

.auth-form__label {
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--color-foreground-accent);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.auth-form__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    border-radius: 8px;
    border: 0.5px solid transparent;
    background: transparent;
    overflow: visible;

    &:has(input:focus) {
        border: 1px solid var(--color-foreground-accent);
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        padding: 0.5px;
        pointer-events: none;
        background:
            linear-gradient(
                160deg,
                rgba(255 255 255 / 0.6) 0%,
                rgba(255 255 255 / 0.2) 30%,
                rgba(255 255 255 / 0) 100%
            ),
            linear-gradient(
                340deg,
                rgba(255 255 255 / 0.6) 0%,
                rgba(255 255 255 / 0.2) 30%,
                rgba(255 255 255 / 0) 100%
            );
        mask:
            linear-gradient(#fff, #fff) content-box,
            linear-gradient(#fff, #fff);
        -webkit-mask:
            linear-gradient(#fff, #fff) content-box,
            linear-gradient(#fff, #fff);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

.auth-form__input-wrapper--gradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        80deg,
        rgba(255 255 255 / 1) 0%,
        rgba(255 255 255 / 0.22) 77%,
        rgba(255 255 255 / 0) 100%
    );
    opacity: 20%;
    border-radius: 8px;
    pointer-events: none;
    z-index: -1;
}

.auth-form__icon-wrapper {
    position: absolute;
    height: 100%;
    padding: 0 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form__icon {
    width: 17px;
    height: 17px;
}

.auth-form__input {
    border-radius: 8px;
    border: none;
    background: transparent;
    padding: 0 57px;
    width: 100%;
    height: 100%;
    outline: none;
    color: var(--color-foreground);

    &::placeholder {
        color: var(--color-foreground-accent);
        font-size: var(--font-size-sm);
        font-family: "Poppins", sans-serif;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.auth-form__input-info {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.auth-form__input-action {
    padding: 0 20px;
}

.auth-form__input-button {
    border: none;
    background: transparent;
    transition: transform 0.15s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.auth-form__button {
    border-radius: 15px;
    border: none;
    color: #ffffff;
    font-size: var(--font-size-md);
    font-weight: 500;
    padding: 12px 0;
    width: 100%;
    background: linear-gradient(to right, #9c3fe4 0%, #c65647 100%);
}

.auth-form__actions {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.auth-form__reset-password {
    color: var(--color-foreground-accent);
    font-size: var(--font-size-xs);
    font-weight: 500;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
