.page {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--color-background);

    max-width: 430px;
    width: 100%;
    min-height: 932px;
    height: 100%;
    overflow: hidden;
}

.page__illustration {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    object-position: left;
}

.page__body {
    position: absolute;
    width: 447px;
    top: 244px;
    left: -1px;
    bottom: 0;

    backdrop-filter: blur(80px);
    border-radius: 59px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(50%) translateX(-50%);
        width: 397px;
        height: 397px;
        background: radial-gradient(
            circle,
            rgba(196 86 71 / 1) 0%,
            rgba(210 90 99 / 0) 65%,
            rgba(0 0 0 / 0) 100%
        );
        opacity: 0.4;
        pointer-events: none;
        z-index: 0;
    }
}

.page__body--gradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right bottom,
        #b379df 0%,
        rgba(204 88 84 / 0.08) 77%,
        #b379df 100%
    );
    opacity: 0.2;
    pointer-events: none;
    z-index: -1;
}

.page__gradient-radial_pos_rt {
    top: 0;
    right: 0;
    transform: translateY(-50%) translateX(50%);
}

.page__gradient-radial_pos_rb {
    bottom: 0;
    right: 0;
    transform: translateY(50%) translateX(50%);
}

.page__content {
    padding-right: 17px;
    width: 100%;
    height: 100%;
    position: relative;
}

.page__header {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page__title {
    font-size: var(--font-size-xl);
    font-weight: 600;
}

.page__subtitle {
    font-size: var(--font-size-sm);
    color: var(--color-foreground-accent);
}
