.page__illustration--register {
    max-width: 337.99px;
    max-height: 238px;
    top: 8px;
    left: 147px;
}

.page__object-1 {
    position: absolute;
    width: 101.81px;
    height: 68.53px;
    left: 345px;
    top: -37px;
    rotate: -18.69deg;
    z-index: 10;
}

.page__object-4 {
    position: absolute;
    left: -14px;
    top: -24px;
    rotate: -33.41deg;
    z-index: 10;
}
