.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    object-fit: contain;
}

.header__nav {
}

.header__nav-list {
    display: flex;
    gap: 34px;
}

.header__nav-item {
    position: relative;
}

.header__nav-item--active {
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 20px;
        background-color: var(--color-foreground);
        z-index: 5;
    }
}

.header__nav-link {
}
