@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("/src/reset.css");
@import url("/src/utils.css");
@import url("/src/header.css");
@import url("/src/hero.css");

:root {
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-base: 1rem; /* 16px */
    --font-size-md: 1.125rem; /* 18px */
    --font-size-lg: 2.0625rem; /* 33px */
    --font-size-xl: 3.25rem; /* 52px */

    --border-radius-base: 0.625rem; /* 10px */

    --color-background: #ffffff;
    --color-foreground: #000000;

    --font-family-playfair: "Playfair Display", sans-serif;
    --font-family-poppins: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-base);
    background-color: var(--color-background);
    color: var(--color-foreground);
    padding: 0 60px;

    @media (width >= 64rem /* 1024px */) {
        padding: 0 80px;
    }

    @media (width >= 80rem /* 1280px */) {
        padding: 0 140px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
}
.main {
}
