@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("/src/reset.css");
@import url("/src/utils.css");

:root {
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-base: 1rem; /* 16px */
    --font-size-md: 1.125rem; /* 18px */
    --font-size-lg: 2.0625rem; /* 33px */
    --font-size-xl: 3.25rem; /* 52px */

    --border-radius-base: 0.625rem; /* 10px */

    --color-background: #ffffff;
    --color-foreground: #000000;

    --font-family-playfair: "Playfair Display", sans-serif;
    --font-family-poppins: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    padding: 0 140px;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-base);
    background-color: var(--color-background);
    color: var(--color-foreground);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    object-fit: contain;
}

.header__nav {
}

.header__nav-list {
    display: flex;
    gap: 34px;
}

.header__nav-item {
}

.header__nav-link {
}

.main {
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 52px;
    padding-right: 29px;
    padding-left: 66px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    padding-right: 82px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-right: 82px;
}

.hero__title {
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-family: var(--font-family-playfair);
}

.hero__description {
    font-size: var(--font-size-md);
    font-weight: 300;
}

.hero__nav {
    margin: 46px 0;
}

.hero__nav-list {
    display: flex;
    gap: 50px;
}

.hero__nav-item {
}

.hero__nav-link {
    border-radius: var(--border-radius-base);
    font-size: var(--font-size-md);
    font-weight: 300;
}

.hero__nav-link--primary {
    background-color: rgba(255 168 70 / 0.4);
    padding: 10px 15px;
    font-weight: 700;
}

.hero__achievements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 16px;
    gap: 20px;
    border-radius: var(--border-radius-base);
    border: 1px solid #000000;
}

.hero__achievements-people {
    font-size: var(--font-size-lg);
    font-weight: 300;
}

.hero__achievements-text {
    font-size: var(--font-size-sm);
}

.hero__product {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.hero__product-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__product-info {
    position: absolute;
    bottom: 14px;
    left: 28px;
    right: 28px;
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius-base);
    padding: 10px 18px;
    background-color: var(--color-background);
}

.hero__product-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero__product-title {
    font-weight: 700;
}

.hero__product-description {
}

.hero__product-price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    font-weight: 700;
}
